{% include 'coffeeshop/partials/head.html' %}

<body>
    {% include 'coffeeshop/partials/header.html' %}
    {% include 'coffeeshop/partials/search.html' %}
    
    <main class="content-container">
        <div class="main-content main-content-list container">
            {% include 'coffeeshop/partials/recipe.html' %}
            {% include 'coffeeshop/partials/recipe.html' %}
            {% include 'coffeeshop/partials/recipe.html' %}
        </div>
    </main>

    {% include 'coffeeshop/partials/footer.html' %}
    
</body>

</html>